{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
<p>LemonBudget is coming soon!</p>
    <img src="{% static "budget/lemon.jpg" %}" class="img-fluid" alt="Lemon is on the left!">
</div>
{% endblock %}